.contener{
    text-align: center;
    font: 200;
    padding-bottom: 20px;
}

input[type=text] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

input[type=number] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}


button{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 5px 10px;
    width: 110px;
    outline: none;
    color: rgba(255, 255, 255, 0.801);
    border-radius: 24px;
    transition: 0.25s;
    background: #c34f4f;
    }

button:focus{
    width: 170px;
    border-color: #751b1b;
}


  
  