<div class="contener">
    <h1>Dodaj część</h1>
    <div>
        <table>
            <tr>
                <td>
                    <label>Nazwa</label>
                    <input type="text" [(ngModel)]="newPart.name">
                </td>
                <td>
                    <label>Producent</label>
                    <input type="text" [(ngModel)]="newPart.producer">
                </td>
                <td>
                    <label>Cena</label>
                    <input type="number" [(ngModel)]="newPart.price">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <button (click)="add()">Dodaj</button>
    </div>
    <br>
    <div *ngIf="showMessage">
        <label>Pomyślnie dodano nową część!</label>
    </div>
</div>
<br><br>