.contener{
    margin-left: 35%;
}

.h1{
    text-align: center;
    font: 200;
}

input[type=text] {
    background: none;
    text-align: left;
    border: 2px solid #c34f4f;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

input[type=number] {
    background: none;
    text-align: left;
    border: 2px solid #c34f4f;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}


button{
    border: 0;
    background: none;
    display: block;
    margin-left: 20%;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 10px 20px;
    width: 150px;
    outline: none;
    color: rgba(255, 255, 255, 0.561);
    border-radius: 24px;
    transition: 0.25s;
    background: #c34f4f;
    }

button:focus{
    width: 170px;
    border-color: #751b1b;
}

label{
    padding: 1px;
}