<h1>MECHANIKA SAMOCHODOWA</h1>
<br>
<table>
<tr><th>UKŁAD HAMULCOWY</th><th>Cena</th></tr>
<tr><td>Wymiana klocków</td><td>80</td></tr>
<tr><td>Wymiana szczęk</td><td>60</td></tr>
<tr><td>Wymiana tarcz</td><td>70</td></tr>
<tr><td>Zacisk hamulcowy przód</td><td>70</td></tr>
<tr><td>Zacisk hamulcowy tył</td><td>80</td></tr>
<tr><td>Bęben hamulcowy</td><td>80</td></tr>
<tr><td>Wymiana cylinderka hamulca </td><td>70</td></tr>
<tr><td>Czujnik ABS </td><td>45</td></tr>
<tr><td>Korektor hamulcowy</td><td>35</td></tr>
<tr><td>Pompa hamulcowa </td><td>70</td></tr>
<tr><td>Przewód hamulcowy</td><td>60</td></tr>
<tr><td>Linka hamulca ręcznego </td><td>60</td></tr>
<tr><td>Hamulec ręczny </td><td>20</td></tr>
<tr><td>Wymiana płynu hamulcowego</td><td>80</td></tr>
</table>

<br><br>

<table>
<tr>
    <th>FILTRY,OLEJE I PŁYNY</th><th>Cena</th>
</tr>
<tr>
    <td>Wymiana filtra powietrza</td><td>20</td>
</tr>
<tr><td>Wymiana filtra kabinowego</td><td>60</td></tr>
<tr><td>Wymiana filtra paliwa</td><td>40</td></tr>
<tr><td>Wymiana oleju silnikowego i filtra</td><td>50</td></tr>
<tr><td>Wymiana oleju w skrzyni biegów</td><td>45</td></tr>
<tr><td>Wymiana płynu w chłodnicy</td><td>60</td></tr>
<tr><td>Wymiana płynu hamulcowego</td><td>60</td></tr>
</table>
<br><br>

<table>
<tr><th>WULKANIZACJA</th><th>Cena</th></tr>
<tr><td>Naprawa i łatanie uszkodzonej opony</td><td>45</td></tr>
<tr><td>Uszczelnianie opony</td><td>12</td></tr>
<tr><td>Pompowanie koła azotem</td><td> 15 </td></tr>
<tr><td>Prostowanie felg</td><td>30</td></tr>
<tr><td>Wyważanie komputerowo opony</td><td>10</td></tr>
<tr><td>Przełożenie jednego koła </td><td>15</td></tr>
<tr><td>Sezonowe przechowywanie opon</td><td>90</td></tr>
<table>
<br>