<h3>Usługi mechaniczne</h3>
<table class="data">
    <tbody>
    <tr><th rowspan="2"><strong>USŁUGA</strong><br /><br /></th><th colspan="2"><strong>CENA</strong><br /><br /></th></tr>
    <tr><th><strong>OD</strong></th><th><strong>DO</strong></th></tr>
    <tr>
    <td>wymiana oleju z filtrem oleju</td>
    <td>45</td>
    <td>55</td>
    </tr>
    <tr>
    <td>wymiana filtra powietrza</td>
    <td>10</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana filtra paliwa</td>
    <td>30</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana filtra kabinowego</td>
    <td>10</td>
    <td>60</td>
    </tr>
    <tr>
    <td>wymiana płynu hamulcowego</td>
    <td>50</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana płynu chłodzącego</td>
    <td>40</td>
    <td>70</td>
    </tr>
    <tr>
    <td>wymiana chłodnicy silnika</td>
    <td>120</td>
    <td>250</td>
    </tr>
    <tr>
    <td>wymiana oleju w manualnej skrz. bieg&oacute;w</td>
    <td>40</td>
    <td>100</td>
    </tr>
    <tr>
    <td>wymiana oleju wspomagania ukł. kierow</td>
    <td>40</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana świec zapłonowych 1 szt.</td>
    <td>10</td>
    <td>25</td>
    </tr>
    <tr>
    <td>wymiana świec żarowych 1 szt.</td>
    <td>30</td>
    <td>50</td>
    </tr>
    <tr>
    <td>wymiana klock&oacute;w hamulcowych prz&oacute;d</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana klock&oacute;w hamulcowychch tył</td>
    <td>80</td>
    <td>150</td>
    </tr>
    <tr>
    <td>wymiana tarcz i klock&oacute;w hamulcowych prz&oacute;d</td>
    <td>100</td>
    <td>150</td>
    </tr>
    <tr>
    <td>wymiana tarcz i klock&oacute;w hamulcowych tył</td>
    <td>120</td>
    <td>150</td>
    </tr>
    <tr>
    <td>wymiana szczęk hamulcowych</td>
    <td>120</td>
    <td>180</td>
    </tr>
    <tr>
    <td>wymiana bębn&oacute;w i szczęk h-ch</td>
    <td>150</td>
    <td>250</td>
    </tr>
    <tr>
    <td>wymiana cylinderka h-go 1 szt.&nbsp;</td>
    <td>45</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana przewodu h-go 1 szt.</td>
    <td>60</td>
    <td>90</td>
    </tr>
    <tr>
    <td>wymiana pompy h-wej</td>
    <td>90</td>
    <td>200</td>
    </tr>
    <tr>
    <td>wymiana linek h-ca ręcznego</td>
    <td>70</td>
    <td>200</td>
    </tr>
    <tr>
    <td>regulacja h-ca ręcznego</td>
    <td>50</td>
    <td>90</td>
    </tr>
    <tr>
    <td>naprawa zacisku h-go</td>
    <td>60</td>
    <td>100</td>
    </tr>
    <tr>
    <td>naprawa zapieczonych prowadnic zacisku h-go</td>
    <td>40</td>
    <td>60</td>
    </tr>
    <tr>
    <td>wymiana amortyzatora prz&oacute;d 1 szt.</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana amortyzatora tył 1 szt.</td>
    <td>60</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana poduszki g&oacute;rnej kolumny McPersona</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana sprężyny zaw. przedniej 1 szt.</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana sprężyny zaw. tył 1 szt.</td>
    <td>60</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana drążka kierowniczego 1 szt.</td>
    <td>60</td>
    <td>100</td>
    </tr>
    <tr>
    <td>wymiana końc&oacute;wki dr. kierowniczego 1 szt.</td>
    <td>35</td>
    <td>70</td>
    </tr>
    <tr>
    <td>wymiana łącznika stabilizatora 1 szt.</td>
    <td>30</td>
    <td>70</td>
    </tr>
    <tr>
    <td>wymiana tuleji drążka stabilizatora 1 szt.</td>
    <td>25</td>
    <td>100</td>
    </tr>
    <tr>
    <td>wymiana wahacza 1 szt.</td>
    <td>80</td>
    <td>180</td>
    </tr>
    <tr>
    <td>wymiana sworznia wahacza prasowany 1 szt.</td>
    <td>80</td>
    <td>150</td>
    </tr>
    <tr>
    <td>wymiana sworznia wahacz przykręcany 1 szt.</td>
    <td>45</td>
    <td>60</td>
    </tr>
    <tr>
    <td>wymiana tulei metalowo gumowych wahacza jedna strona</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana tulei tylnej belki kpl.</td>
    <td>300</td>
    <td>400</td>
    </tr>
    <tr>
    <td>wymiana łożyska koła prz&oacute;d</td>
    <td>90</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana łożyska tył</td>
    <td>90</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana przegubu wewnętrznego p&oacute;łos</td>
    <td>90</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana przegubu zewnętrznego p&oacute;łosi</td>
    <td>65</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana osłony przegubu zew. lub wew.</td>
    <td>65</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana sprzęgła kpl.</td>
    <td>350</td>
    <td>800</td>
    </tr>
    <tr>
    <td>wymiana linki sprzęgła</td>
    <td>50</td>
    <td>120</td>
    </tr>
    <tr>
    <td>wymiana pompy sprzęgła</td>
    <td>80</td>
    <td>120</td>
    </tr>
    <tr>
    <td>odpowietrzenie sterowania sprzęgła</td>
    <td>70</td>
    <td>130</td>
    </tr>
    <tr>
    <td>wymiana rozrządu</td>
    <td>300</td>
    <td>550</td>
    </tr>
    <tr>
    <td>wymiana pompy płynu chłodniczgo</td>
    <td>120</td>
    <td>550</td>
    </tr>
    <tr>
    <td>wymiana paska klinowego 1 szt.</td>
    <td>30</td>
    <td>50</td>
    </tr>
    <tr>
    <td>wymiana pompy paliwa</td>
    <td>90</td>
    <td>250</td>
    </tr>
    <tr>
    <td>wymiana sondy Lambda</td>
    <td>90</td>
    <td>150</td>
    </tr>
    <tr>
    <td>wymiana tłumika 1 element</td>
    <td>50</td>
    <td>80</td>
    </tr>
    <tr>
    <td>wymiana uszczelki pokrywy zawor&oacute;w</td>
    <td>45</td>
    <td>70</td>
    </tr>
    <tr>
    <td>wymiana uszczelki głowicy silnika</td>
    <td>500</td>
    <td>1500</td>
    </tr>
    <tr>
    <td>regulacja zawor&oacute;w silnika</td>
    <td>90</td>
    <td>150</td>
    </tr>
    <tr>
    <td>demontaż i montaż alternatora</td>
    <td>60</td>
    <td>350</td>
    </tr>
    <tr>
    <td>demontaż i montaż rozrusznika</td>
    <td>60</td>
    <td>200</td>
    </tr>
    <tr>
    <td>ustawienie zbieżności 3D&nbsp;&nbsp;</td>
    <td>120</td>
    <td>150</td>
    </tr>
    <tr>
    <td>ustawienie geometrii 3D</td>
    <td>160</td>
    <td>400</td>
    </tr>
    </tbody>
    </table>