<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<title>Warsztat samochodowy</title>
	<meta name="description" content="Strona internetowa dla warsztatu samochodowego">
	<meta name="keywords" content="warsztat, samochodowy, serwis, naprawa, samochody, częsci">
	<meta name="Maciej Poręba, Jakub Siedlarz">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet" href="app.component.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	</head>

<body>
  <header>
    <h1 class="logo">Warsztat samochodowy</h1>
    <nav>
      <ul class="menu">
        <li><a [routerLink]="['/home']">Strona głowna</a></li>
        <li><a [routerLink]="['/gallery']">Galeria</a></li>
        <li><a [routerLink]="['/price-list']">Cennik</a></li>
        <li><a [routerLink]="['/add-application']">Dodaj zgloszenie</a></li>
        <li><a [routerLink]="['/about']">O naszej firmie</a></li>
        <li><a [routerLink]="['/contact']">Kontakt</a></li>
        <li><a [routerLink]="['/login']">Logowanie</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article>
      <!-- <section>
        <div class="photo_background">
          <img src="img/tło.PNG"> 
        </div>
      </section> -->
      <br>

      <section id="nowy">

        <div class="opis">
          <router-outlet></router-outlet>
        </div>
      </section>
    </article>
  </main>

  <footer>




  </footer>


</body>
</html>

