body
  {
    margin: 0;
    background-color: #6e6969;
    color: #ffffff;
    font-family: 'Open Sans' , sans-serif;
    font-size: 17px;
  }
h1.logo
{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav
{
  background-color: #5d5858;
  text-align: center;
}

.menu
{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 35px;
  line-height: 200%;
}

.menu > li
{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #000000;
}

.menu > li:first-child
{
  border-left: 1px dashed #000000;
}

.menu a
{
  color: #fff;
  text-decoration: none;
}

.menu a:hover
{
  color: #6e6969;

}

img
{
  margin:0 auto;
  display: block;
}

.opis
{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 80px;
}

#nowy
{
  background-color: #5d5858;

}