<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<title>Warsztat samochodowy</title>
	<meta name="description" content="Strona internetowa dla warsztatu samochodowego">
	<meta name="keywords" content="warsztat, samochodowy, serwis, naprawa, samochody, częsci">
	<meta name="Maciej Poręba, Jakub Siedlarz">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet" href="app.component.css" type="text/css" >
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
   <div class="login">
	<li><a [routerLink]="['/login']">Logowanie</a></li>
	<li><a [routerLink]="['/register']">Zarejestruj się</a></li>
   </div>
	<div class="wrapper">
		<div class="header">
		 <div class="logo">
      <h1 class="logo">Warsztat samochodowy</h1>
		</div>
		</div>
		<div class="nav">
			<ol>
        <li><a [routerLink]="['/home']">Strona główna</a></li>
        <li><a [routerLink]="['/gallery']">Galeria</a></li>
        <li><a [routerLink]="['/price-list']">Cennik</a></li>
				<li><a [routerLink]="['/customer-area-application']">Strefa klienta</a>
					<ul>
						<li><a [routerLink]="['/add-application']">Dodaj zgłoszenie</a></li>
						<li><a [routerLink]="['/review-application']">Przegladaj zgłoszenie</a></li>
                     </ul>
        <li><a [routerLink]="['/about']">O naszej firmie</a></li>
        <li><a [routerLink]="['/contact']">Kontakt</a></li>
			</ol>
		</div>
		
		<div class="content">
		 <router-outlet></router-outlet>
		</div>
			
		<div class="footer">Wszelkie prawa zastrzeżone &copy; 2020 Dziękuję za wizytę!</div>
  </div>
  
</body>
</html>

