<h1>Warsztat samochodowy</h1>

<p>to nowoczesny warsztat samochodowy wyposażony w specjalistyczne narzędzia i maszyny diagnostyczne najnowszej generacji. To również profesjonalny zespół fachowców z bogatym doświadczeniem w branży motoryzacyjnej.
<br>
<br>
Wszystko to pozwala nam na kompleksową obsługę od najmniejszych aut osobowych poprzez auta terenowe po największe auta dostawcze wszystkich marek i modeli z silnikami konwencjonalnymi oraz z napędem hybrydowym: HEV hybrydowy pojazd elektryczny, mHEV łagodny układ hybrydowy, PHEV hybrydowy pojazd elektryczny typu plug-in. </p>