<div class="top">
    Specjalizujemy się w mechanice pojazdowej od 10 lat. Dokonujemy napraw samochodów w pełnym zakresie, a dzięki wieloletniemu doświadczeniu realizujemy naprawy wszystkich marek. Nowoczesne zaplecze diagnostyczno- techniczne jest gwarancją, iż stosujemy najwyższej jakości sprzęt oraz najnowsze technologie.
</div>
<br><br>
<div class="bottom">
W naszej pracy niezwykle ważnym aspektem pozostaje zadowolenie Klienta. Żeby tak się stało, staramy się zawsze przeprowadzić pełną diagnostykę samochodu i wspólnie z Klientem tak dobrać wariant naprawy, aby był on najbardziej satysfakcjonujący i spełniający oczekiwania. Naprawa w naszym serwisie nie musi oznaczać wydawania znacznej ilości pieniędzy - nasz Klient zawsze ma wybór i dokładną informację o tym, co dokładnie trzeba zrobić w jego pojeździe. To do niego zawsze należy ostateczna decyzja.
<br><br>
W czym się specjalizujemy?
<br><br>
• począwszy od drobnych a skończywszy na kompleksowych naprawach mechanicznych
<br>
• naprawy układów jezdnych, regulacja zbieżności (geometria 3D)
<br>
• profesjonalna i certyfikowana obsługa systemu klimatyzacji (czyszczenie klimatyzacji zupełnie nową metodą)
<br>
• diagnostyka komputerowa
<br>
• profesjonalny, szybki i sprawy serwis opon 
<br>
• pomoc przy zakupie auta używanego, przeglądy samochodów, diagnostyka i fachowa pomoc 
</div>
<br>