<div class="contener">
    <h1>Zarządzaj kontem</h1>
    <table>
        <tr>
            <td><label>Imię: </label></td>
            <td><input type="text" [(ngModel)]="user.name"></td>
        </tr>
        <tr>
            <td><label>Nazwisko: </label></td>
            <td><input type="text" [(ngModel)]="user.surname"></td>
        </tr>
        <tr>
            <td><label>Płeć: </label></td>
            <td><input type="text" [(ngModel)]="user.sex"></td>
        </tr>
        <tr>
            <td><label>E-mail: </label></td>
            <td><input type="text" [(ngModel)]="user.email"></td>
        </tr>
        <tr>
            <td><label>Data urodzenia: </label></td>
            <td><input type="text" [(ngModel)]="user.dateofbirth"></td>
        </tr>
        <tr>
            <td><label>Numer telefonu: </label></td>
            <td><input type="text" [(ngModel)]="user.phonenumber"></td>
        </tr>
    </table>   
    <button (click)="save()">
        Zapisz
    </button>
</div>