<div class="T1">
		Nasz warsztat jest najnowoczesniejszym warsztatem samochodowym 
		<br>
		wyposażonym w specjalistyczne narzędzia i maszyny diagnostyczne najwyższej generacji.
		<br>	
		Kadra skłąda się z profesjonalnych fachowców z bogatym doświadczeniem w branży motoryzacyjnej.
		<br>
		Wszystko to pozwala nam na kompleksową obsługę od najmniejszych aut osobowych poprzez auta terenowe
		<br>
		po największe auta dostawcze wszystkich marek i modeli.
    <br>
  </div>

	<div id="T2">
		<div id="fachowcy">
			<ul>
			<li>Elektronicy</li>
			<li>Mechatronicy</li>
			<li>Mechanicy</li>
			<li>Lakiernicy</li>
			<li>Rzeczoznawcy</li>
			<li>Diagności</li>
			</ul>
		</div>
	</div>
