<h1>Kontakt</h1> 


<div class="table">
telefon: (18) 334 34 77, 503 667 002
<br>
<br>
e-mail: warsztat@gmail.com
</div>
       

<div class="center">
Telefonicznie jesteśmmy do dyspozycji od poniedziałku do soboty w godzinach od 7:00 do 19:00.
<br>
<br>
Zapraszamy do kontaktu w sprawach technicznych i reklamowych.
<br> 
 Z chęcią poznamy Państwa opinie i sugestie. 
<br>
<br>
Czekamy również na osobiste wizyty.
<br>
<br>
Jesteśmy otwarci:
<br>
</div>

<div class="table">
ul. Piramowicza 213
<br>
33-300 Nowy Sącz
<br>
<br>
Pon - Pt: 7:00 - 18:00
<br>
Sob: 7:00 - 13:00
<br>
Nd: nieczynne
</div>
    
<br>
<br>


   

