<h1>Przegladaj ogloszenie</h1>
<div>
    <label>Wprowadz nr zgloszenia:</label>
    <input type="number" [(ngModel)]="nrZgloszenia">
    
    <button (click)="show()">Pokaz</button>
</div>
<br>
<div *ngIf="showInfo">  
    <div *ngIf="isWorker">
        <div>
            <label>Marka: </label>
            <input type="text" [(ngModel)]="newCar.marka">
            <br>
            <label>Model: </label>
            <input type="text" [(ngModel)]="newCar.model">
            <br>
            <label>Nr rejestracyjny: </label>
            <input type="text" [(ngModel)]="newCar.nrRejestracyjny">
            <br>
            <label>Nr vin: </label>
            <input type="text" [(ngModel)]="newCar.nrVin">
            <br>
            <label>Przebieg: </label>
            <input type="text" [(ngModel)]="newCar.przebieg">
            <br>
            <label>Opis usterki: </label>
            <input type="text" [(ngModel)]="opis">
            <br>
        </div>
        <br>
        <h4>Informacje</h4>
        <div>
            <label>Data Rozpoczecia: </label>
            <input type="text" [(ngModel)]="repairInfo.dataRozpoczecia">
            <br>
            <label>Data Zakonczenia: </label>
            <input type="text" [(ngModel)]="repairInfo.dataZakoczenia">
            <br>
            <label>Status: </label>
            <input type="text" [(ngModel)]="repairInfo.status">
            <br>
            <label>Opis: </label>
            <input type="text" [(ngModel)]="repairInfo.opis">
            <br>
            <label>Koszt: </label>
            <input type="text" [(ngModel)]="repairInfo.koszt">
            <br>
        </div>
    </div>      
    <div *ngIf="!isWorker">
        <div >
            <label>Marka: </label>
            <label>{{newCar.marka}}</label>
            <br>
            <label>Model: </label>
            <label>{{newCar.model}}</label>
            <br>
            <label>Nr rejestracyjny: </label>
            <label>{{newCar.nrRejestracyjny}}</label>
            <br>
            <label>Nr vin: </label>
            <label>{{newCar.nrVin}}</label>
            <br>
            <label>Przebieg: </label>
            <label>{{newCar.przebieg}}</label>
            <br>
            <label>Opis usterki: </label>
            <label>{{opis}}</label>
            <br>
        </div>
        <br>
        <h4>Informacje</h4>
        <div>
            <label>Data Rozpoczecia: </label>
            <label>{{repairInfo.dataRozpoczecia}}</label>
            <br>
            <label>Data Zakonczenia: </label>
            <label>{{repairInfo.dataZakoczenia}}</label>
            <br>
            <label>Status: </label>
            <label>{{repairInfo.status}}</label>
            <br>
            <label>Opis: </label>
            <label>{{repairInfo.opis}}</label>
            <br>
            <label>Koszt: </label>
            <label>{{repairInfo.koszt}}</label>
            <br>
        </div>
    </div>    
</div>