.contener{
    text-align: center;
    font: 200;
}

input[type=number] {
    margin-top: 30px;
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

button{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 5px 10px;
    width: 100px;
    outline: none;
    color: rgba(255, 255, 255, 0.561);
    border-radius: 24px;
    transition: 0.25s;
    background: #c34f4f;
    margin-top: 30px;
    }

button:focus{
    width: 170px;
    border-color: #751b1b;
}

.car{
  color: white;
  padding: 15px;
}

h1{
    font-size: 35px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
  
tr, th {
    padding: 1px;
}

td{
    text-align: center;
}

