<h1>Rejestracja</h1>
<div>
    <label>Imie: </label>
    <input type="text" [(ngModel)]="user.name">
    <br>
    <label>Nazwisko: </label>
    <input type="text" [(ngModel)]="user.surname">
    <br>
    <label>Płeć: </label>
    <label><input type="checkbox"> Mężczyzna</label>
    <label><input type="checkbox"> Kobieta</label>
    <br>
    <label>Login: </label>
    <input type="text" [(ngModel)]="user.login">
    <br>
    <label>Hasło: </label>
    <input type="text" [(ngModel)]="user.password">
    <br>
    <label>E-mail: </label>
    <input type="text" [(ngModel)]="user.email">
    <br>
    <label>Data urodzenia: </label>
    <input type="text" [(ngModel)]="user.dateofbirth">
    <br>
    <label>Nr telefonu: </label>
    <input type="text" [(ngModel)]="user.phonenumber">
    <br>
</div>
<br>
<div>
    <button (click)="register()">Zarejestruj się</button>
</div>
