.contener{
    text-align: center;
    font: 200;
}

input[type=text] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
    transition: 0.25s;
    width: 120px;
  }

input[type=number] {
    background: none;
    text-align: center;
    border: 2px solid #c34f4f;
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
    transition: 0.25s;

}

button{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid #751b1b;
    padding: 5px 10px;
    width: 100px;
    outline: none;
    color: rgba(255, 255, 255, 0.842);
    border-radius: 24px;
    transition: 0.25s;
    background: #c34f4f;
    }

button:focus{
    width: 110px;
    border-color: #751b1b;
}

label{
    padding: 1px;
}

select{
    margin: 5px auto;
    text-align: center;
    border: 2px solid #c34f4f;
    padding: 3px 5px;
    width: 200px;
    outline: none;
    color: rgba(255, 255, 255, 0.842);
    border-radius: 24px;
    transition: 0.25s;
    background: #303030;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 5px;
}

td{
    text-align: center;
}
