<div class="contener">
    <h1>Przeglądaj zgłoszenia napraw</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id naprawy</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Nr Rejestracyjny</th>
                    <th>Nr VIN</th>
                    <th>Przebieg</th>
                    <th>Opis usterki</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of applications">
                    <td>{{app.id_car}}</td>
                    <td>{{app.mark}}</td>
                    <td>{{app.model}}</td>
                    <td>{{app.regnumber}}</td>
                    <td>{{app.nrvin}}</td>
                    <td>{{app.course}}</td>
                    <td>{{app.descfault}}</td>
                    <td>
                        <button (click)="showInfo(app)">
                            Pokaż
                        </button>
                    </td>
                    <td>
                        <button (click)="removeApp(app)">
                            Usuń
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
        
        <div *ngIf="show">
            <label>Pracownik przypisany do naprawy: </label>
            <select [(ngModel)]="selectedUserToRepair">
                <option *ngFor="let item of usersListToCombo">{{item}}</option>
            </select>
            <br><br>
            <table>
                <thead>
                    <tr>
                        <th>Id naprawy</th>
                        <th>Data Rozpoczęcia</th>
                        <th>Data Zakończenia</th>
                        <th>Status</th>
                        <th>Opis</th>
                        <th>Koszt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{rapairInfo.id_repair}}</td>
                        <td>{{rapairInfo.start_date}}</td>
                        <td>                    
                            <input type="text" [(ngModel)]="rapairInfo.end_date">
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="rapairInfo.status">
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="rapairInfo.description">
                        </td>
                        <td>                    
                            <input type="number" [(ngModel)]="rapairInfo.price">
                        </td>
                    </tr>
                </tbody>        
            </table>
            <br><br>

            <div *ngIf="showParts">
                <label>Użyte części podaczas naprawy: </label>
                <table>
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Producent</th>
                            <th>Cena [zł]</th>
                            <th>Ilość</th>
                            <th>Suma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let part of partsPerRepairInfo">
                            <td>{{part.part.name}}</td>
                            <td>{{part.part.producer}}</td>
                            <td>{{part.part.price}}</td>
                            <td>{{part.amount}}</td>
                            <td>{{part.amount * part.part.price}}</td>
                        </tr>
                    </tbody>
                </table>  
                <br><br>
            </div>
                
            <label>Wybierz część użytą podczas naprawy: </label>
            <select [(ngModel)]="selectedValue">
                <option *ngFor="let item of partsListToCombo">{{item}}</option>
            </select>
            <br>
            <label>Wybierz ilość części użytych podczas naprawy: </label>
            <input type="number" [(ngModel)]="enteredQuantity">
            <br><br>  
            <button (click)="save()">
                Zapisz
            </button>           
        </div>
    </div>
</div>